cub/**
nauty/**
build*/**
perf*/**
*.exe
*.o
.vscode/**
tests/**
scripts/**
*.tar.gz
*.zip
icount_execs/**
*.ncu-rep

*.log
*.out
sections/**
target/**
profiling/**
*.csv
logs/**
*.py
.DS_Store
._.DS_Store
*.bel
*.mtx